Your Rideshare Bodyguard!... safety report, by Deborah Thomas

<h1 style="color: blue;">Introduction</h1>

## Identifying High-Risk Areas for Rideshare Safety in Kansas City, MO.
Help VendiSafe create a data-driven approach to identifying high-risk locations in Kansas City, MO, where drivers and passengers may need extra safety measures. Kansas City is part of Jackson, Clay, Platte, and Cass counties.

<h1 style="color: blue;">Import Libraries.</h1>

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pdfplumber

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

from sklearn.svm import SVC
from sklearn.metrics import roc_auc_score, accuracy_score

from sklearn.preprocessing import LabelEncoder

<h1 style="color: blue;">Read in Dataset.</h1>

- Description of where dataset comes from

Kansas City Open Data Portal – Local government datasets, including crime and incident data. 2019-2024 KCPD combined reports. The dataset comes from [https://data.kcmo.org/Crime/KCPD-Crime-Data-2019-to-2024/egkn-fji8/about_data](https://data.kcmo.org/Crime/KCPD-Crime-Data-2019-to-2024/egkn-fji8/about_data).

Map of the Police Department territories: [View Map of Police Department Territories](https://kcpd.maps.arcgis.com/apps/webappviewer/index.html?id=24c6239af6654e4aa1d9fb196d01ffb2).

These are the neighborhoods of Kansas City, MO: [Wikipedia - Neighborhoods of Kansas City, Missouri](https://en.wikipedia.org/wiki/Neighborhoods_of_Kansas_City,_Missouri).

In [10]:
dtypes = {
    'Description': 'str',
    'City': 'str',
    'Area': 'str',
    'Location': 'str'
}

In [11]:
KS2 = pd.read_csv("../datasets/KCPD_Crime_Data_KC_OpenDataPortal_2019_to_2024_20250403.csv", dtype=dtypes, low_memory=False)

In [12]:
display(KS2.head(100))

,Report_No,Reported_Date,Reported_Time,From_Date,From_Time,To_Date,To_Time,Offense,IBRS,Description,...,Area,DVFlag,Involvement,Race,Sex,Age,Fire Arm Used Flag,Location,Age_Range,Geo_Location1
0,190002679,01/21/2019 12:00:00 AM,8:34,NaN,NaN,NaN,NaN,Fraud/Confidence Gam,26A,NaN,...,NaN,U,SUS,W,M,28.0,False,NaN,NaN,POINT (-92.477746617 38.367982746)
1,KC20070693,10/15/2020 12:00:00 AM,9:37,01/01/2016 12:00:00 AM,10:08,NaN,NaN,Sexual Abuse - Juvenile,NaN,NaN,...,OSPD,N,VIC,W,F,NaN,False,NaN,NaN,NaN
2,KC19030380,04/25/2019 12:00:00 AM,20:51,04/25/2019 12:00:00 AM,22:35,NaN,NaN,City/Municipal Warrant Arrest,NaN,NaN,...,OSPD,N,ARR CHA SUS,W,F,34.0,False,NaN,NaN,POINT (-94.419408416 39.245010036)
3,KC19044992,06/17/2019 12:00:00 AM,2:57,06/17/2019 12:00:00 AM,2:57,NaN,NaN,Rape - Juvenile,11A,Forcible Rape,...,EPD,N,SUS,B,M,NaN,False,NaN,NaN,POINT (-94.541545037 39.102210418)
4,KC19044691,06/15/2019 12:00:00 AM,17:22,06/15/2019 12:00:00 AM,16:06,NaN,NaN,Stealing – Shoplift,NaN,NaN,...,CPD,N,VIC,NaN,NaN,NaN,False,NaN,NaN,POINT (-94.591899968 39.042694983)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,KC20012154,02/17/2020 12:00:00 AM,12:30,02/17/2020 12:00:00 AM,12:44,NaN,NaN,Rape,11A,Forcible Rape,...,SPD,N,CMP VIC,B,F,NaN,False,NaN,NaN,POINT (-94.49564697 38.941580983)
96,KC20070613,10/14/2020 12:00:00 AM,18:46,10/14/2020 12:00:00 AM,19:52,NaN,NaN,City/Municipal Warrant Arrest,NaN,NaN,...,OSPD,N,ARR CHA,W,F,36.0,False,NaN,NaN,POINT (-94.419408416 39.245010036)
97,KC20013211,02/21/2020 12:00:00 AM,12:46,02/21/2020 12:00:00 AM,13:00,NaN,NaN,Stolen Auto,35A,Drug / Narcotic Violations,...,MPD,N,VIC,NaN,NaN,NaN,False,NaN,NaN,POINT (-94.608049968 38.925709911)
98,KC20004050,01/16/2020 12:00:00 AM,21:46,01/16/2020 12:00:00 AM,21:46,NaN,NaN,City/Municipal Warrant Arrest,NaN,NaN,...,OSPD,N,ARR CHA SUS,B,M,55.0,False,NaN,NaN,POINT (-94.781052433 39.372291405)
99,KC20017418,03/08/2020 12:00:00 AM,11:17,03/08/2020 12:00:00 AM,11:18,NaN,NaN,Dead Body,NaN,NaN,...,MPD,N,VIC,B,M,43.0,False,NaN,NaN,POINT (-94.556323986 39.017482008)

In [13]:
print(KS2.shape)

(522907, 25)

In [14]:
KS2.Reported_Date.value_counts

<bound method IndexOpsMixin.value_counts of 0         01/21/2019 12:00:00 AM
1         10/15/2020 12:00:00 AM
2         04/25/2019 12:00:00 AM
3         06/17/2019 12:00:00 AM
4         06/15/2019 12:00:00 AM
                   ...
522902    12/29/2022 12:00:00 AM
522903    04/27/2022 12:00:00 AM
522904    12/15/2022 12:00:00 AM
522905    12/09/2022 12:00:00 AM
522906    12/20/2022 12:00:00 AM
Name: Reported_Date, Length: 522907, dtype: object>

In [15]:
KS2.Involvement.value_counts()

Involvement
VIC                    251776
SUS                    110694
ARR CHA SUS             65386
CMP VIC                 38239
VIC SUS                  8003
                        ...
VIC SWM SUS                 1
VOD PED                     1
ARR CHA INA SOC VDR         1
INA SUS A01 CHA PNT         1
SUS DEC VDR                 1
Name: count, Length: 697, dtype: int64

In [16]:
KS2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522907 entries, 0 to 522906
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Report_No           522907 non-null  object
 1   Reported_Date       522907 non-null  object
 2   Reported_Time       522907 non-null  object
 3   From_Date           522827 non-null  object
 4   From_Time           522807 non-null  object
 5   To_Date             246508 non-null  object
 6   To_Time             178837 non-null  object
 7   Offense             522907 non-null  object
 8   IBRS                468296 non-null  object
 9   Description         442795 non-null  object
 10  Beat                521093 non-null  object
 11  Address             522888 non-null  object
 12  City                522866 non-null  object
 13  Zip Code            478639 non-null  object
 14  Rep_Dist            416713 non-null  object
 15  Area                520208 non-null  object
 16  DVFlag              522907 non-null  object
 17  Involvement         522907 non-null  object
 18  Race                453119 non-null  object
 19  Sex                 459675 non-null  object
 20  Age                 384716 non-null  float64
 21  Fire Arm Used Flag  522907 non-null  bool
 22  Location            456405 non-null  object
 23  Age_Range           237176 non-null  object
 24  Geo_Location1       522862 non-null  object
dtypes: bool(1), float64(1), object(23)
memory usage: 96.2+ MB

- These columns need to be dropped: Report_No, From_Time, To_Date, To_Time, Involvement, Race, Sex, Age, Age_Range.
- These columns need to be converted to datetime: Reported_Date, Reported_Time, From_Date.
- Reported_Date column needs to have 12:00 AM removed because all values have it. 
- Fire Arm Used Flag column naming needs to have spaces removed.

<h1 style="color: blue;">Clean the Data</h1>

- Drop unecessary columns.

In [20]:
columns_to_drop = ['Report_No', 'From_Time', 'To_Date', 'To_Time', 'IBRS', 'Involvement', 'Race', 'Sex', 'Age', 'Age_Range']
KS2 = KS2.drop(columns=columns_to_drop)

In [21]:
KS2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522907 entries, 0 to 522906
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Reported_Date       522907 non-null  object
 1   Reported_Time       522907 non-null  object
 2   From_Date           522827 non-null  object
 3   Offense             522907 non-null  object
 4   Description         442795 non-null  object
 5   Beat                521093 non-null  object
 6   Address             522888 non-null  object
 7   City                522866 non-null  object
 8   Zip Code            478639 non-null  object
 9   Rep_Dist            416713 non-null  object
 10  Area                520208 non-null  object
 11  DVFlag              522907 non-null  object
 12  Fire Arm Used Flag  522907 non-null  bool
 13  Location            456405 non-null  object
 14  Geo_Location1       522862 non-null  object
dtypes: bool(1), object(14)
memory usage: 56.4+ MB

'Reported_Date', 'Reported_Time', 'Offense', 'DVFlag', 'Fire Arm Used Flag' are the only columns that have no missing data.

In [23]:
print(KS2.shape)

(522907, 15)

- Drop duplicates

In [25]:
KS2 = KS2.drop_duplicates()

In [26]:
print(KS2.shape)

(312430, 15)

In [27]:
522907 - 312430

210477

#### 210,477 rows were duplicates and were dropped.

<h3 style="color: blue;">Clean Area Column</h3>

- Look for NaN in Area

In [31]:
nan_entries = KS2[KS2['Area'].isna()]

print("Entries where Area is NaN:")
display(nan_entries.head(5))

Entries where Area is NaN:

,Reported_Date,Reported_Time,From_Date,Offense,Description,Beat,Address,City,Zip Code,Rep_Dist,Area,DVFlag,Fire Arm Used Flag,Location,Geo_Location1
0,01/21/2019 12:00:00 AM,8:34,NaN,Fraud/Confidence Gam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,False,NaN,POINT (-92.477746617 38.367982746)
5,03/28/2019 12:00:00 AM,12:01,NaN,Aggravated Assault (,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,True,NaN,POINT (-92.477746617 38.367982746)
6,04/12/2019 12:00:00 AM,9:31,04/08/2019 12:00:00 AM,Stolen Auto,Motor Vehicle Theft,NaN,4500 S BENTON,KANSAS CITY,64130,NaN,NaN,N,False,NaN,POINT (-94.551136007 39.044326017)
7,05/09/2019 12:00:00 AM,13:15,09/17/2018 12:00:00 AM,Forgery,Counterfeiting / Forgery,533,10700 STATE LINE RD,KANSAS CITY,64114,NaN,NaN,N,False,NaN,POINT (-94.608049968 38.925709911)
16,03/14/2019 12:00:00 AM,12:27,03/06/2019 12:00:00 AM,Misc Violation,NaN,NaN,8611 21ST,KANSAS CITY,64126,NaN,NaN,U,False,NaN,POINT (-94.483472004 39.083929001)

- Change NaN, in Area, to 'Unknown'

In [33]:
KS2['Area'] = KS2['Area'].fillna('Unknown')

- Inspect police department territories.

In [35]:
area_counts = KS2['Area'].value_counts().reset_index()
area_counts.columns = ['Area', 'Count']
print(area_counts)

      Area  Count
0      CPD  87352
1      EPD  74334
2      MPD  56777
3      SPD  34250
4      SCP  28540
5      NPD  26861
6     OSPD   2668
7  Unknown   1636
8      PD1     11
9     SCPD      1

In [36]:
filtered_df = KS2[KS2['Area'] == 'PD1']

display(filtered_df)

,Reported_Date,Reported_Time,From_Date,Offense,Description,Beat,Address,City,Zip Code,Rep_Dist,Area,DVFlag,Fire Arm Used Flag,Location,Geo_Location1
30791,03/21/2019 12:00:00 AM,13:27,06/24/2016 12:00:00 AM,Stealing From Auto,NaN,999,9999 S UNKNOWN ST,KANSAS CITY,99999,PKC000,PD1,N,False,NaN,POINT (-94.58311 39.10344)
68754,01/17/2019 12:00:00 AM,18:44,01/11/2019 12:00:00 AM,Statutory Rape,NaN,999,9900 S UNKNOWN ST,KANSAS CITY,NaN,PKC000,PD1,U,False,NaN,POINT (-94.58311 39.10344)
80945,03/02/2019 12:00:00 AM,12:36,03/01/2019 12:00:00 AM,Credit/Debit/ATM Car,NaN,999,9999 S UNKNOWN ST,KANSAS CITY,99999,PKC000,PD1,U,False,NaN,POINT (-94.58311 39.10344)
82702,02/13/2019 12:00:00 AM,16:18,01/01/2019 12:00:00 AM,Stealing from Buildi,NaN,999,1000 BERKLEY PKWY,KANSAS CITY,64120,PKC000,PD1,U,False,1000 BERKLEY PKWY\nKANSAS CITY 64120\n(39.1151...,POINT (-94.572775985 39.115939992)
82981,01/28/2019 12:00:00 AM,9:50,01/24/2019 12:00:00 AM,Credit/Debit/ATM Car,NaN,999,9999 S UNKNOWN ST,KANSAS CITY,99999,PKC000,PD1,U,False,NaN,POINT (-94.58311 39.10344)
83061,03/07/2019 12:00:00 AM,8:24,03/06/2019 12:00:00 AM,Fraud/Confidence Gam,NaN,999,9999 S UNKNOWN ST,KANSAS CITY,99999,PKC000,PD1,U,False,NaN,POINT (-94.58311 39.10344)
85424,02/01/2019 12:00:00 AM,16:00,01/18/2019 12:00:00 AM,Identity Theft,NaN,999,9999 S UNKNOWN ST,KANSAS CITY,99999,PKC000,PD1,U,False,NaN,POINT (-94.58311 39.10344)
86042,03/18/2019 12:00:00 AM,8:00,03/11/2019 12:00:00 AM,Credit/Debit/ATM Car,NaN,999,9999 S UNKNOWN ST,KANSAS CITY,99999,PKC000,PD1,U,False,NaN,POINT (-94.58311 39.10344)
89317,02/26/2019 12:00:00 AM,11:20,02/26/2019 12:00:00 AM,Stealing From Auto,NaN,999,9999 S UNKNOWN ST,KANSAS CITY,99999,PKC000,PD1,N,False,NaN,POINT (-94.58311 39.10344)
96432,02/17/2019 12:00:00 AM,2:14,02/16/2019 12:00:00 AM,Stealing From Auto,NaN,999,9999 S UNKNOWN ST,KANSAS CITY,NaN,PKC000,PD1,U,False,NaN,POINT (-94.58311 39.10344)
104604,03/23/2019 12:00:00 AM,19:39,01/01/1996 12:00:00 AM,Statutory Rape,NaN,999,9900 S UNKNOWN ST,KANSAS CITY,64106,PKC000,PD1,N,False,NaN,POINT (-94.575675 39.10424)

### Kansas City, MO Divisions
- **CPD** (Central Police Department, located in the center west. Includes West Kansas City, MO)
- **EPD** (East Patrol, located in the center east. Includes East Kansas City, MO)
- **MPD** (Metro Police Department, located in the center south)
- **SPD** (South Patrol Division)
- **SCP** (Shoal Creek Police Department, located in the Northeast)
- **NPD** (North Police Department, located in the Northwest. Includes Wetherby Lake, Parkville, Gladstone, North Kansas City)

- **SCPD** Typo. Needs to change to 'SCP'

- **OSPD** (located in the town of Liberty)
- **PD1** Typo. Looking at the addresses, BERKLEY PKWY is located in the CPD district. Changing 'PD1' to 'CPD'.


https://data.kcmo.org/dataset/Police-Divisions/pxe5-449t

- change PD1 to CPD

In [39]:
KS2.loc[KS2['Area'] == 'PD1', 'Area'] = 'CPD'

- change SCPD to SCP

In [41]:
KS2.loc[KS2['Area'] == 'SCPD', 'Area'] = 'SCP'

In [42]:
KS2.Area.value_counts()

Area
CPD        87363
EPD        74334
MPD        56777
SPD        34250
SCP        28541
NPD        26861
OSPD        2668
Unknown     1636
Name: count, dtype: int64

In [43]:
KS2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 312430 entries, 0 to 522904
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Reported_Date       312430 non-null  object
 1   Reported_Time       312430 non-null  object
 2   From_Date           312389 non-null  object
 3   Offense             312430 non-null  object
 4   Description         255996 non-null  object
 5   Beat                311344 non-null  object
 6   Address             312424 non-null  object
 7   City                312410 non-null  object
 8   Zip Code            286082 non-null  object
 9   Rep_Dist            247217 non-null  object
 10  Area                312430 non-null  object
 11  DVFlag              312430 non-null  object
 12  Fire Arm Used Flag  312430 non-null  bool
 13  Location            272151 non-null  object
 14  Geo_Location1       312409 non-null  object
dtypes: bool(1), object(14)
memory usage: 36.1+ MB

Area now no longer has missing values.

<h3 style="color: blue;">Clean City Column</h3>

In [46]:
KS2.City.value_counts()

City
KANSAS CITY      309261
LIBERTY             594
INDEPENDENCE        366
PLATTE CITY         245
GRANDVIEW           215
                  ...
AUSTIN                1
LONGBEACH             1
BOWLING GREED         1
KANSAS CIT Y          1
INDEPENDEANCE         1
Name: count, Length: 227, dtype: int64

- Check for NaN

In [48]:
nan_citycount = KS2['City'].isna().sum()
print(f"Number of NaN values in 'City': {nan_citycount}")

Number of NaN values in 'City': 20

In [49]:
nan_city_rows = KS2[KS2['City'].isna()]
print("Rows with NaN values in 'City':")
display(nan_city_rows)

Rows with NaN values in 'City':

,Reported_Date,Reported_Time,From_Date,Offense,Description,Beat,Address,City,Zip Code,Rep_Dist,Area,DVFlag,Fire Arm Used Flag,Location,Geo_Location1
0,01/21/2019 12:00:00 AM,8:34,NaN,Fraud/Confidence Gam,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,U,False,NaN,POINT (-92.477746617 38.367982746)
5,03/28/2019 12:00:00 AM,12:01,NaN,Aggravated Assault (,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,U,True,NaN,POINT (-92.477746617 38.367982746)
44,01/21/2019 12:00:00 AM,8:34,NaN,Forgery,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,U,False,NaN,POINT (-92.477746617 38.367982746)
63,02/19/2019 12:00:00 AM,12:57,NaN,Forgery,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,U,False,NaN,POINT (-92.477746617 38.367982746)
733,02/19/2019 12:00:00 AM,12:57,NaN,Fraud/Confidence Gam,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,U,False,NaN,POINT (-92.477746617 38.367982746)
1982,03/29/2019 12:00:00 AM,21:43,03/29/2019 12:00:00 AM,Legacy Incident Report/Arrest,NaN,112,1100 LOCUST ST,NaN,NaN,NaN,CPD,N,False,"1100 LOCUST ST\n(37.895369, -122.061186)",POINT (-92.325135037 38.949202983)
2065,03/19/2019 12:00:00 AM,17:46,03/15/2019 12:00:00 AM,Stealing – Shoplift,Theft From Building,422,1600 NW 88TH ST,NaN,NaN,NaN,NPD,N,False,"1600 NW 88TH ST\n(39.2548, -94.599)",POINT (-94.598896007 39.254440004)
2101,03/27/2019 12:00:00 AM,22:05,03/23/2019 12:00:00 AM,Stealing from Auto (Auto Part or Accessory),Theft From Motor Vehicle,113,300 W 22ND ST,NaN,NaN,NaN,CPD,N,False,"300 W 22ND ST\n(41.847595, -87.927551)",POINT (-94.588031971 39.086729982)
2205,04/23/2019 12:00:00 AM,16:07,04/22/2019 12:00:00 AM,Stealing from Auto (Auto Part or Accessory),Theft of Vehicle Parts and Accessories,NaN,2500 MADISON,NaN,NaN,NaN,Unknown,N,False,NaN,POINT (-94.595492033 39.081925014)
4168,03/28/2019 12:00:00 AM,12:46,NaN,Agg Assault - Drive-,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,U,True,NaN,POINT (-92.477746617 38.367982746)
4809,04/24/2019 12:00:00 AM,17:30,04/24/2019 12:00:00 AM,Felon/Prohibited Person in Possession of a Fir...,NaN,543,11800 BLUE RIDGE BLVD KANSAS CITY,NaN,NaN,NaN,Unknown,N,False,11800 BLUE RIDGE BLVD KANSAS CITY\n(38.910232...,POINT (-94.509731 38.922341)
7455,04/06/2019 12:00:00 AM,12:08,04/05/2019 12:00:00 AM,Unfounded,NaN,113,E 18TH ST and WALNUT ST,NaN,NaN,NaN,CPD,N,False,"E 18TH ST and WALNUT ST\n(39.863779, -75.359812)",POINT (-94.582490024 39.091760004)
9560,04/12/2019 12:00:00 AM,14:27,04/12/2019 12:00:00 AM,Legacy Incident Report/Arrest,NaN,323,2600 PROSPECT AVE KANSAS CITY,NaN,NaN,NaN,Unknown,N,False,"2600 PROSPECT AVE KANSAS CITY\n(42.064863, -8...",POINT (-94.58311 39.10344)
11913,12/16/2019 12:00:00 AM,14:04,12/10/2019 12:00:00 AM,Forgery,NaN,112,800 E 12TH ST,NaN,NaN,NaN,CPD,N,False,"800 E 12TH ST\n(30.856878, -96.967045)",POINT (-94.267773565 37.492953746)
34074,08/08/2019 12:00:00 AM,13:10,08/08/2019 12:00:00 AM,Stealing – Shoplift,NaN,344,5000 BLUE RIDGE CTOF KANSAS CITY,NaN,NaN,NaN,Unknown,N,False,"5000 BLUE RIDGE CTOF KANSAS CITY\n(34.327668,...",POINT (-94.58311 39.10344)
51838,11/05/2019 12:00:00 AM,8:01,11/04/2019 12:00:00 AM,Stealing – Other,NaN,322,3100 STADIUM DR,NaN,NaN,NaN,EPD,N,False,"3100 STADIUM DR\n(42.272048, -85.627393)",POINT (-94.520104414 39.068501244)
58327,10/21/2019 12:00:00 AM,10:03,09/21/2019 12:00:00 AM,Robbery (Armed Street),NaN,142,E 38TH ST and FLORA AVE,NaN,NaN,NaN,CPD,N,False,"E 38TH ST and FLORA AVE\n(39.057042, -94.566175)",POINT (-94.566189989 39.057039981)
133682,04/22/2020 12:00:00 AM,8:14,04/21/2020 12:00:00 AM,Legacy Incident Report/Arrest,NaN,112,1100 LOCUST ST KANSAS CITY,NaN,NaN,NaN,Unknown,N,False,"1100 LOCUST ST KANSAS CITY\n(38.630186, -90.1...",POINT (-94.577321 39.10091)
237349,03/25/2021 12:00:00 AM,7:28,03/25/2021 12:00:00 AM,Outside State Warrant Arrest,NaN,122,1100 TROOST AVE,NaN,NaN,NaN,CPD,FALSE,False,POINT (-87.817227 41.866327),POINT (-94.569908685 39.100608412)
268672,11/02/2021 12:00:00 AM,14:28,11/01/2021 12:00:00 AM,Property Damage,Vandalism/Destruction of Property,111,1800 MADISON ST,NaN,NaN,NaN,CPD,FALSE,False,POINT (-87.697941 42.031642),POINT (-90.199859662 38.645199298)

- Change City to 'Unknown' if City is NaN and Address is Nan

In [51]:
KS2.loc[KS2['City'].isna() & KS2['Address'].isna(), 'City'] = 'Unknown'

In [52]:
KS2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 312430 entries, 0 to 522904
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Reported_Date       312430 non-null  object
 1   Reported_Time       312430 non-null  object
 2   From_Date           312389 non-null  object
 3   Offense             312430 non-null  object
 4   Description         255996 non-null  object
 5   Beat                311344 non-null  object
 6   Address             312424 non-null  object
 7   City                312416 non-null  object
 8   Zip Code            286082 non-null  object
 9   Rep_Dist            247217 non-null  object
 10  Area                312430 non-null  object
 11  DVFlag              312430 non-null  object
 12  Fire Arm Used Flag  312430 non-null  bool
 13  Location            272151 non-null  object
 14  Geo_Location1       312409 non-null  object
dtypes: bool(1), object(14)
memory usage: 36.1+ MB

- If Address is NaN, ZipCode is NaN, Location is NaN, then drop row.

In [54]:
# Drop rows where Address, Zip Code, and Location are all NaN
KS2 = KS2.dropna(subset=['Address', 'Beat', 'Zip Code', 'Location'], how='all')

- Look for typos in City

In [56]:
city_counts = KS2['City'].value_counts().reset_index()
city_counts.columns = ['City', 'Count']

# Display all rows
pd.set_option('display.max_rows', None)  # Show all rows in the output
print(city_counts)

                         City   Count
0                 KANSAS CITY  309261
1                     LIBERTY     594
2                INDEPENDENCE     366
3                 PLATTE CITY     245
4                   GRANDVIEW     215
5                 LEES SUMMIT     140
6                       INDEP     137
7                     RAYTOWN     128
8                  KANAS CITY     112
9                   GLADSTONE      87
10          NORTH KANSAS CITY      84
11               BLUE SPRINGS      80
12                     BELTON      79
13                  RIVERSIDE      61
14                        NKC      50
15                     KANSAS      45
16              HARRISONVILLE      44
17                SUGAR CREEK      34
18                       KCMO      27
19                 KANSA CITY      25
20                KASNAS CITY      24
21              OVERLAND PARK      24
22                    RAYMORE      22
23                        KCK      19
24               LEE'S SUMMIT      17
25                 LEE SUMMIT      17
26                         KC      15
27                   CLAYCOMO      15
28            PLEASANT VALLEY      14
29                KANSAS CTIY      13
30          EXCELSIOR SPRINGS      13
31                    LEAWOOD      12
32                 KANSASCITY      11
33                KANASA CITY      11
34                    JACKSON      10
35               KANASAS CITY      10
36                KNASAS CITY      10
37                 KANSAS CIY      10
38                 KANSAS CIT       7
39                  PARKVILLE       7
40             JEFFERSON CITY       7
41                  ST JOSEPH       7
42       KANSAS CITY MISSOURI       7
43   KANSAS CITY MISSOURI USA       6
44                    UNKNOWN       6
45                 KANSS CITY       5
46                    CAMERON       5
47                    SHAWNEE       5
48             KANSAS CITY MO       5
49                 KANSAS CTY       5
50                   HARRISON       5
51               KANSAS CITTY       5
52                     OLATHE       5
53               KANSAS C ITY       4
54               KANSAS CITIY       4
55                 PLATTSBURG       4
56               KANSASS CITY       4
57                 ST. JOSEPH       4
58                 SMITHVILLE       4
59              N KANSAS CITY       4
60                KANSA SCITY       3
61                  LAS VEGAS       3
62                      64106       3
63                    MERRIAM       3
64                   BRIGHTON       3
65                 KANSAS ITY       3
66                    MOBERLY       3
67                      64105       3
68                    LANSING       3
69               KANSASA CITY       3
70               PLATTE WOODS       3
71                 PLATTE CTY       2
72                     TOPEKA       2
73                      64123       2
74                     WALNUT       2
75                 KASAS CITY       2
76                    ATLANTA       2
77              KANSAS CITYTY       2
78                 KNSAS CITY       2
79                KANSSA CITY       2
80               HIGGINSVILLE       2
81                  PLATSBURG       2
82                       1604       2
83                    LICKING       2
84                     LENEXA       2
85                KAMSAS COTU       2
86                BLUE SUMMIT       2
87               KKANSAS CITY       2
88                      64111       2
89                   RANDOLPH       2
90                      AGNES       2
91               KANSAAS CITY       2
92                     FULTON       2
93                   COLUMBIA       2
94                 DODGE CITY       2
95                    MISSION       2
96                SAN ANTONIO       1
97                      LOGAN       1
98               KANSAS SCITY       1
99                   GLASTONE       1
100        DESERT HOT SPRINGS       1
101                 OAK GROVE       1
102              GRAIN VALLEY       1
103         NORTH BEACH MIAMI       1
104                KINGSVILLE       1
105                NORTHMOORE       1
106              HOUSTON LAKE       1
107                     TULSA       1
108                       UNK       1
109         EL DORADO SPRINGS       1
110                     MILLS       1
111                 ST. LOUIS       1
112          COLORADO SPRINGS       1
113              ROELAND PARK       1
114                FLORISSANT       1
115              BLUR SPRINGS       1
116                LEESSUMMIT       1
117             0VERLAND PARK       1
118              KANSAS CITHY       1
119             BLUES SPRINGS       1
120                  AMAZONIA       1
121                    DALLAS       1
122              KA NSAS CITY       1
123               KANSAS CITR       1
124               KANSAS CIRT       1
125                     64130       1
126                 NASHVILLE       1
127                BOONEVILLE       1
128              GRAVOIS MILL       1
129                 ANN ARBOR       1
130               KANSAS CIRY       1
131               LOS ANGELES       1
132               INDEPEDENCE       1
133               KAMSAS CITY       1
134              KANSAS CI TY       1
135                 PRINCETON       1
136                   COWGILL       1
137                     64114       1
138               CHILLICOTHE       1
139                   DE SOTO       1
140                   RALEIGH       1
141              KASNSAS CITY       1
142                   BUCKNER       1
143                     TAMPA       1
144                     64108       1
145                SAINT PAUL       1
146                KIRKSVILLE       1
147                 CONCORDIA       1
148                   CLINTON       1
149                 PEACHTREE       1
150                   GARDNER       1
151           WEST DES MOINES       1
152              KANSAS CITYT       1
153                     64155       1
154         KANSAS CITY 64117       1
155                 LITTLETON       1
156              EDWARDSVILLE       1
157                 LEXINGTON       1
158                   LINWOOD       1
159               KASNAS COTY       1
160                    MEXICO       1
161                     OMAHA       1
162                 BOONVILLE       1
163                 NORTHMOOR       1
164                 LAWERENCE       1
165                   GUEYDAN       1
166                    GALENA       1
167                   KILLEEN       1
168            LAKE WINNEBAGO       1
169               LEAVENWORTH       1
170                GLADESTONE       1
171                KANAS CTIY       1
172               HUMANSVILLE       1
173                   CHICAGO       1
174              KANSAS CIITY       1
175               BRATTLEBORO       1
176                CEDAR HILL       1
177                FARMINGTON       1
178               INDPENDENCE       1
179                  KINGSTON       1
180                CENTERVIEW       1
181              KANSAS CITYY       1
182              KANSAS CTITY       1
183               KANSAS UNIT       1
184               KANSAS CITH       1
185              KANNSAS CITY       1
186               SPRINGFIELD       1
187                  VANDALIA       1
188            CAPE CANAVERAL       1
189             INDEDPENDENCE       1
190               BOLINGBROOK       1
191                     64126       1
192                ST CHARLES       1
193                   OAKVIEW       1
194              KANSAS CIRTY       1
195                   SEDALIA       1
196                  TOMPKINS       1
197               KANSAS CIYT       1
198                  LAKELAND       1
199               LITTLE ROCK       1
200            CARUTHERSVILLE       1
201                     64132       1
202                        PL       1
203                      GOFF       1
204                  PECULIAR       1
205               MURPHYSBORO       1
206                RIVER BEND       1
207                   WICHITA       1
208               FORT PIERCE       1
209               KANSAS CITU       1
210                  LAWRENCE       1
211                     MCGEE       1
212                     ATHOL       1
213                  ST LOUIS       1
214                     KANAS       1
215               KNASAS CTIY       1
216               PLATTESBURG       1
217                   PACIFIC       1
218                 BRADENTON       1
219                  ROSAMOND       1
220                     UNION       1
221                 PLATTE CO       1
222                    AUSTIN       1
223                 LONGBEACH       1
224             BOWLING GREED       1
225              KANSAS CIT Y       1
226             INDEPENDEANCE       1

There are some typos in the City names.

In [58]:
# Correct the values in the 'City' column
KS2['City'] = KS2['City'].replace({
    'KANAS CITY': 'KANSAS CITY',
    'KANSAS CITHY': 'KANSAS CITY',
    'KANSAS CIITY': 'KANSAS CITY',
    'KANNSAS CITY': 'KANSAS CITY',
    'KANSAS': 'KANSAS CITY',
    'KCMO': 'KANSAS CITY',
    'KANSA CITY': 'KANSAS CITY',
    'KANSAS CITYY': 'KANSAS CITY',
    'KANSAS COTY': 'KANSAS CITY',
    'KASNAS CITY': 'KANSAS CITY',
    'KASNAS CITYY': 'KANSAS CITY',
    'KASNAS COTY': 'KANSAS CITY',
    'KANASAS CITY': 'KANSAS CITY',
    'KCMO': 'KANSAS CITY',
    'KC': 'KANSAS CITY',
    'KANSASCITY': 'KANSAS CITY',
    'KANASA CITY': 'KANSAS CITY',
    'KANSAS CITY MISSOURI USA': 'KANSAS CITY',
    'KANSAS CIY': 'KANSAS CITY',
    'KNASAS CITY': 'KANSAS CITY',
    'KANSAS CTY': 'KANSAS CITY',
    'KANSAS CITY MISSOURI': 'KANSAS CITY',
    'KANSAS CITTY': 'KANSAS CITY',
    'KANSAS CIT': 'KANSAS CITY',
    'KANSAS CITYTY': 'KANSAS CITY',
    'KANSAS CITY MO': 'KANSAS CITY',
    'KANSAS ITY': 'KANSAS CITY',
    'KANSAS C ITY': 'KANSAS CITY',
    'KANSAS CITIY': 'KANSAS CITY',
    'KANSASS CITY': 'KANSAS CITY',
    'KANSS CITY': 'KANSAS CITY',
    'KASAS CITY': 'KANSAS CITY',
    'KANSASA CITY': 'KANSAS CITY',
    'KANSSA CITY': 'KANSAS CITY',
    'NORTH KANSAS CITY': 'KANSAS CITY',
    'KANSAAS CITY': 'KANSAS CITY',
    'KAMSAS CITY': 'KANSAS CITY',
    'KKANSAS CITY': 'KANSAS CITY',
    'KANSA SCITY': 'KANSAS CITY',
    'KANSAS CIRT': 'KANSAS CITY',
    'KANSAS CIRTY': 'KANSAS CITY',
    'KANAS': 'KANSAS CITY',
    'KANSAS CITU': 'KANSAS CITY',
    'KANSAS SCITY': 'KANSAS CITY',
    'KASNSAS CITY': 'KANSAS CITY',
    'KA NSAS CITY': 'KANSAS CITY',
    'KNSAS CITY': 'KANSAS CITY',
    'KANSAS CITH': 'KANSAS CITY',
    'KANSAS CTITY': 'KANSAS CITY',
    'KANSAS CIYT': 'KANSAS CITY',
    'KANSAS CITYT': 'KANSAS CITY',
    'KANSAS CITY 64117': 'KANSAS CITY',
    'KANSAS CIRY': 'KANSAS CITY',
    'KANSAS CIT Y ': 'KANSAS CITY',
    'N KANSAS CITY': 'KANSAS CITY',
    'KANSAS CITR': 'KANSAS CITY',
    'KASNAS COTY': 'KANSAS CITY',
    'KANSAS CI TY': 'KANSAS CITY',
    'KANSAS CIT Y': 'KANSAS CITY',
    'KANAS CTIY': 'KANSAS CITY',
    'KANSAS CTIY': 'KANSAS CITY',
    'KAMSAS COTU': 'KANSAS CITY',
    'KNASAS CTIY': 'KANSAS CITY',
    'KANSAS CITYY': 'KANSAS CITY',
    'KANSAS CITHY': 'KANSAS CITY',
    'KANSAS CIITY': 'KANSAS CITY',
    'KANNSAS CITY': 'KANSAS CITY',
    'KANSAS UNIT': 'KANSAS CITY',
    'KCK': 'KANSAS CITY',
    'UNKNOWN': 'KANSAS CITY',
    '1604': 'KANSAS CITY',
    '64114': 'KANSAS CITY',
    '64126': 'KANSAS CITY',
    '64130': 'KANSAS CITY',
    '64155': 'KANSAS CITY',
    '64132': 'KANSAS CITY',
    '64111': 'KANSAS CITY',
    '64108': 'KANSAS CITY',
    '64105': 'KANSAS CITY',
    '64106': 'KANSAS CITY',
    '64123': 'KANSAS CITY',
    
})

In [59]:
#KS2.City.value_counts()
city_counts = KS2['City'].value_counts().reset_index()
city_counts.columns = ['City', 'Count']

# Display all rows
pd.set_option('display.max_rows', None)  # Show all rows in the output
print(city_counts)

                   City   Count
0           KANSAS CITY  309805
1               LIBERTY     594
2          INDEPENDENCE     366
3           PLATTE CITY     245
4             GRANDVIEW     215
5           LEES SUMMIT     140
6                 INDEP     137
7               RAYTOWN     128
8             GLADSTONE      87
9          BLUE SPRINGS      80
10               BELTON      79
11            RIVERSIDE      61
12                  NKC      50
13        HARRISONVILLE      44
14          SUGAR CREEK      34
15        OVERLAND PARK      24
16              RAYMORE      22
17           LEE SUMMIT      17
18         LEE'S SUMMIT      17
19             CLAYCOMO      15
20      PLEASANT VALLEY      14
21    EXCELSIOR SPRINGS      13
22              LEAWOOD      12
23              JACKSON      10
24            PARKVILLE       7
25            ST JOSEPH       7
26       JEFFERSON CITY       7
27             HARRISON       5
28               OLATHE       5
29              SHAWNEE       5
30              CAMERON       5
31           SMITHVILLE       4
32           PLATTSBURG       4
33           ST. JOSEPH       4
34              LANSING       3
35             BRIGHTON       3
36              MERRIAM       3
37         PLATTE WOODS       3
38              MOBERLY       3
39            LAS VEGAS       3
40           PLATTE CTY       2
41         HIGGINSVILLE       2
42             RANDOLPH       2
43              ATLANTA       2
44               TOPEKA       2
45             COLUMBIA       2
46          BLUE SUMMIT       2
47              MISSION       2
48                AGNES       2
49               LENEXA       2
50           DODGE CITY       2
51               FULTON       2
52               WALNUT       2
53              LICKING       2
54            PLATSBURG       2
55    NORTH BEACH MIAMI       1
56         GRAIN VALLEY       1
57            OAK GROVE       1
58        0VERLAND PARK       1
59           LEESSUMMIT       1
60            LEXINGTON       1
61           FLORISSANT       1
62         ROELAND PARK       1
63     COLORADO SPRINGS       1
64            ST. LOUIS       1
65                MILLS       1
66    EL DORADO SPRINGS       1
67                  UNK       1
68            LITTLETON       1
69                TULSA       1
70                LOGAN       1
71         HOUSTON LAKE       1
72           NORTHMOORE       1
73           KINGSVILLE       1
74          SAN ANTONIO       1
75      WEST DES MOINES       1
76             GLASTONE       1
77        BLUES SPRINGS       1
78              COWGILL       1
79            PRINCETON       1
80          INDEPEDENCE       1
81          LOS ANGELES       1
82            ANN ARBOR       1
83         GRAVOIS MILL       1
84           BOONEVILLE       1
85            NASHVILLE       1
86          CHILLICOTHE       1
87              CLINTON       1
88          FORT PIERCE       1
89              GARDNER       1
90            PEACHTREE       1
91            CONCORDIA       1
92              RALEIGH       1
93           KIRKSVILLE       1
94             AMAZONIA       1
95           SAINT PAUL       1
96                TAMPA       1
97              BUCKNER       1
98              DE SOTO       1
99               DALLAS       1
100        BLUR SPRINGS       1
101         BRATTLEBORO       1
102           LONGBEACH       1
103             WICHITA       1
104          RIVER BEND       1
105      LAKE WINNEBAGO       1
106             KILLEEN       1
107             GUEYDAN       1
108             LINWOOD       1
109           NORTHMOOR       1
110           BOONVILLE       1
111              MEXICO       1
112              GALENA       1
113         BOLINGBROOK       1
114       INDEDPENDENCE       1
115      CAPE CANAVERAL       1
116            VANDALIA       1
117         SPRINGFIELD       1
118         INDPENDENCE       1
119          FARMINGTON       1
120  DESERT HOT SPRINGS       1
121            KINGSTON       1
122          CENTERVIEW       1
123          CEDAR HILL       1
124             CHICAGO       1
125               OMAHA       1
126           LAWERENCE       1
127              AUSTIN       1
128         LEAVENWORTH       1
129          GLADESTONE       1
130         HUMANSVILLE       1
131               MCGEE       1
132         MURPHYSBORO       1
133            PECULIAR       1
134                GOFF       1
135      CARUTHERSVILLE       1
136         LITTLE ROCK       1
137            LAKELAND       1
138        EDWARDSVILLE       1
139            TOMPKINS       1
140             SEDALIA       1
141            LAWRENCE       1
142               ATHOL       1
143          ST CHARLES       1
144            ST LOUIS       1
145         PLATTESBURG       1
146             PACIFIC       1
147           BRADENTON       1
148            ROSAMOND       1
149               UNION       1
150           PLATTE CO       1
151       BOWLING GREED       1
152                  PL       1
153             OAKVIEW       1
154       INDEPENDEANCE       1

- Sort alphabetically, to search for more typos:

In [61]:
city_counts = KS2['City'].value_counts().reset_index()
city_counts.columns = ['City', 'Count']
# Sort the DataFrame alphabetically by the 'City' column
city_counts = city_counts.sort_values(by='City')
# Display all rows
pd.set_option('display.max_rows', None)  # Show all rows in the output
print(city_counts)

                   City   Count
58        0VERLAND PARK       1
48                AGNES       2
94             AMAZONIA       1
82            ANN ARBOR       1
142               ATHOL       1
43              ATLANTA       2
127              AUSTIN       1
10               BELTON      79
9          BLUE SPRINGS      80
46          BLUE SUMMIT       2
77        BLUES SPRINGS       1
100        BLUR SPRINGS       1
113         BOLINGBROOK       1
84           BOONEVILLE       1
110           BOONVILLE       1
151       BOWLING GREED       1
147           BRADENTON       1
101         BRATTLEBORO       1
35             BRIGHTON       3
97              BUCKNER       1
30              CAMERON       5
115      CAPE CANAVERAL       1
135      CARUTHERSVILLE       1
123          CEDAR HILL       1
122          CENTERVIEW       1
124             CHICAGO       1
86          CHILLICOTHE       1
19             CLAYCOMO      15
87              CLINTON       1
63     COLORADO SPRINGS       1
45             COLUMBIA       2
91            CONCORDIA       1
78              COWGILL       1
99               DALLAS       1
98              DE SOTO       1
120  DESERT HOT SPRINGS       1
50           DODGE CITY       2
138        EDWARDSVILLE       1
66    EL DORADO SPRINGS       1
21    EXCELSIOR SPRINGS      13
119          FARMINGTON       1
61           FLORISSANT       1
88          FORT PIERCE       1
51               FULTON       2
112              GALENA       1
89              GARDNER       1
129          GLADESTONE       1
8             GLADSTONE      87
76             GLASTONE       1
134                GOFF       1
56         GRAIN VALLEY       1
4             GRANDVIEW     215
83         GRAVOIS MILL       1
107             GUEYDAN       1
27             HARRISON       5
13        HARRISONVILLE      44
41         HIGGINSVILLE       2
71         HOUSTON LAKE       1
130         HUMANSVILLE       1
114       INDEDPENDENCE       1
6                 INDEP     137
80          INDEPEDENCE       1
154       INDEPENDEANCE       1
2          INDEPENDENCE     366
118         INDPENDENCE       1
23              JACKSON      10
26       JEFFERSON CITY       7
0           KANSAS CITY  309805
106             KILLEEN       1
121            KINGSTON       1
73           KINGSVILLE       1
93           KIRKSVILLE       1
105      LAKE WINNEBAGO       1
137            LAKELAND       1
34              LANSING       3
39            LAS VEGAS       3
126           LAWERENCE       1
141            LAWRENCE       1
128         LEAVENWORTH       1
22              LEAWOOD      12
17           LEE SUMMIT      17
18         LEE'S SUMMIT      17
5           LEES SUMMIT     140
59           LEESSUMMIT       1
49               LENEXA       2
60            LEXINGTON       1
1               LIBERTY     594
53              LICKING       2
108             LINWOOD       1
136         LITTLE ROCK       1
68            LITTLETON       1
70                LOGAN       1
102           LONGBEACH       1
81          LOS ANGELES       1
131               MCGEE       1
36              MERRIAM       3
111              MEXICO       1
65                MILLS       1
47              MISSION       2
38              MOBERLY       3
132         MURPHYSBORO       1
85            NASHVILLE       1
12                  NKC      50
55    NORTH BEACH MIAMI       1
109           NORTHMOOR       1
72           NORTHMOORE       1
57            OAK GROVE       1
153             OAKVIEW       1
28               OLATHE       5
125               OMAHA       1
15        OVERLAND PARK      24
146             PACIFIC       1
24            PARKVILLE       7
90            PEACHTREE       1
133            PECULIAR       1
152                  PL       1
54            PLATSBURG       2
3           PLATTE CITY     245
150           PLATTE CO       1
40           PLATTE CTY       2
37         PLATTE WOODS       3
145         PLATTESBURG       1
32           PLATTSBURG       4
20      PLEASANT VALLEY      14
79            PRINCETON       1
92              RALEIGH       1
42             RANDOLPH       2
16              RAYMORE      22
7               RAYTOWN     128
104          RIVER BEND       1
11            RIVERSIDE      61
62         ROELAND PARK       1
148            ROSAMOND       1
95           SAINT PAUL       1
74          SAN ANTONIO       1
140             SEDALIA       1
29              SHAWNEE       5
31           SMITHVILLE       4
117         SPRINGFIELD       1
143          ST CHARLES       1
25            ST JOSEPH       7
144            ST LOUIS       1
33           ST. JOSEPH       4
64            ST. LOUIS       1
14          SUGAR CREEK      34
96                TAMPA       1
139            TOMPKINS       1
44               TOPEKA       2
69                TULSA       1
149               UNION       1
67                  UNK       1
116            VANDALIA       1
52               WALNUT       2
75      WEST DES MOINES       1
103             WICHITA       1

In [62]:
filtered_data = KS2[KS2['City'] == 'PL']
# Print the filtered DataFrame
display(filtered_data)

,Reported_Date,Reported_Time,From_Date,Offense,Description,Beat,Address,City,Zip Code,Rep_Dist,Area,DVFlag,Fire Arm Used Flag,Location,Geo_Location1
81861,03/11/2019 12:00:00 AM,17:41,03/11/2019 12:00:00 AM,Misc Violation,NaN,999,5508 N HOMER WHITE RD,PL,64152,PPX063,OSPD,U,False,"5508 N HOMER WHITE RD\nPL 64152\n(39.194515, -...",POINT (-94.707155998 39.194550006)

Fix more typos in the city names.

In [64]:
KS2['City'] = KS2['City'].replace({
    'INDEP': 'INDEPENDENCE',
    'INDEDPENDENCE': 'INDEPENDENCE',
    'INDEPEDENCE': 'INDEPENDENCE',
    'INDEPENDEANCE': 'INDEPENDENCE',
    'ST. JOSEPH': 'ST JOSEPH',
    'INDPENDENCE': 'INDEPENDENCE',
    'BLUES SPRINGS': 'BLUE SPRINGS',
    'BLUR SPRINGS': 'BLUE SPRINGS',
    'BOONEVILLE': 'BOONVILLE',
    'BOWLING GREED': 'BOWLING GREEN',
    'GLADESTONE': 'GLADSTONE',
    'GLASTONE': 'GLADSTONE',
    'LEE SUMMIT': 'LEES SUMMIT',
    "LEE'S SUMMIT": 'LEES SUMMIT',
    'LEESSUMMIT': 'LEES SUMMIT',
    'NORTHMOORE': 'NORTHMOOR',
    'PLATTE CTY': 'PLATTE CITY',
    'PLATTESBURG': 'PLATTSBURG',
    'ST. JOSEPH': 'ST JOSEPH',
    'ST. LOUIS': 'ST LOUIS',
 })

In [65]:
print(KS2['City'].isna().sum())

14

- Change 14 NaN values to 'Unknown'.

In [67]:
KS2['City'] = KS2['City'].fillna('Unknown')

In [68]:
KS2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 312424 entries, 1 to 522904
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Reported_Date       312424 non-null  object
 1   Reported_Time       312424 non-null  object
 2   From_Date           312389 non-null  object
 3   Offense             312424 non-null  object
 4   Description         255996 non-null  object
 5   Beat                311344 non-null  object
 6   Address             312424 non-null  object
 7   City                312424 non-null  object
 8   Zip Code            286082 non-null  object
 9   Rep_Dist            247217 non-null  object
 10  Area                312424 non-null  object
 11  DVFlag              312424 non-null  object
 12  Fire Arm Used Flag  312424 non-null  bool
 13  Location            272151 non-null  object
 14  Geo_Location1       312403 non-null  object
dtypes: bool(1), object(14)
memory usage: 36.1+ MB

City column is clean now.

<h3 style="color: blue;">Clean Reported_Date Column</h3>

- Check for NaN rows

In [72]:
nan_Repcount = KS2['Reported_Date'].isna().sum()
print(f"Number of NaN values in 'Reported_Date': {nan_Repcount}")

Number of NaN values in 'Reported_Date': 0

- Look at Value Counts

In [74]:
KS2.Reported_Date.value_counts().head(30)

Reported_Date
08/14/2023 12:00:00 AM    258
07/05/2023 12:00:00 AM    254
07/12/2023 12:00:00 AM    245
07/24/2023 12:00:00 AM    244
06/19/2023 12:00:00 AM    241
09/25/2023 12:00:00 AM    240
02/12/2024 12:00:00 AM    240
01/02/2024 12:00:00 AM    236
06/03/2019 12:00:00 AM    235
08/09/2023 12:00:00 AM    235
08/06/2023 12:00:00 AM    235
08/08/2023 12:00:00 AM    234
09/11/2023 12:00:00 AM    231
07/08/2019 12:00:00 AM    230
09/02/2022 12:00:00 AM    230
07/10/2023 12:00:00 AM    230
07/17/2023 12:00:00 AM    229
07/07/2023 12:00:00 AM    229
07/01/2022 12:00:00 AM    229
08/10/2023 12:00:00 AM    228
06/05/2020 12:00:00 AM    227
09/18/2023 12:00:00 AM    225
08/16/2023 12:00:00 AM    225
11/09/2020 12:00:00 AM    224
07/18/2023 12:00:00 AM    224
08/21/2023 12:00:00 AM    223
07/14/2023 12:00:00 AM    222
09/29/2023 12:00:00 AM    220
10/14/2022 12:00:00 AM    220
05/10/2022 12:00:00 AM    220
Name: count, dtype: int64

- change Reported_Date to date type. Drop the timestamp of 12:00:00 because all rows have it.

In [76]:
KS2['Reported_Date'] = pd.to_datetime(KS2['Reported_Date'].str.replace(" 12:00:00 AM", ""), format='%m/%d/%Y')

In [77]:
# Display the updated DataFrame
print(KS2['Reported_Date'].head())

1   2020-10-15
2   2019-04-25
3   2019-06-17
4   2019-06-15
6   2019-04-12
Name: Reported_Date, dtype: datetime64[ns]

<h3 style="color: blue;">Clean Reported_Time Column</h3>

- Check for NaN

In [80]:
nan_RepTimecount = KS2['Reported_Time'].isna().sum()
print(f"Number of NaN values in 'Reported_Time': {nan_RepTimecount}")

Number of NaN values in 'Reported_Time': 0

- Check for missing values

In [82]:
missing_reported_time_count = KS2['Reported_Time'].isna().sum()
print(f"Number of missing values in 'Reported_Time': {missing_reported_time_count}")

Number of missing values in 'Reported_Time': 0

In [83]:
print(KS2['Reported_Time'].unique())

['9:37' '20:51' '2:57' ... '5:32' '5:13' ':']

- Change to Datetime type

In [85]:
def clean_time_format(time):
    try:
        return pd.to_datetime(time, format='%H:%M', errors='coerce')
    except Exception:
        return pd.NaT

In [86]:
KS2['Reported_Time'] = KS2['Reported_Time'].str.strip()

- Remove whitespace

In [ ]:
KS2['Reported_Time'] = KS2['Reported_Time'].apply(clean_time_format)

- Check unique values again

In [ ]:
print(KS2['Reported_Time'].unique())

In [ ]:
missing_reported_time_count = KS2['Reported_Time'].isna().sum()
print(f"Number of missing values in 'Reported_Time' after cleaning: {missing_reported_time_count}")

In [ ]:
missing_TimeRows = KS2[KS2['Reported_Time'].isna()]

# Print the rows with missing 'Reported_Time'
print("Rows with missing 'Reported_Time':")
display(missing_TimeRows)

- Fill with 12:00, so that these rows do not have to be dropped.

In [ ]:
KS2['Reported_Time'] = KS2['Reported_Time'].fillna(pd.Timestamp('1900-01-01 12:00:00'))

In [ ]:
KS2.info()

Reported_Date column is clean now.

<h3 style="color: blue;">Clean From_Date Column</h3>

- Check for NaN

In [ ]:
nan_FromDateCount = KS2['From_Date'].isna().sum()
print(f"Number of NaN values in 'Reported_Time': {nan_FromDateCount}")

In [ ]:
nan_FromDate_rows = KS2[KS2['From_Date'].isna()]
print("Rows with NaN values in 'From_Date':")
display(nan_FromDate_rows)

- change From_Date to date type. Drop the timestamp of 12:00:00 because all rows have it.

- Borrow date from Reported_Date column to fill in NaN values.

In [ ]:
KS2['From_Date'] = KS2['From_Date'].str.replace(" 12:00:00 AM", "")

- Change From_Date to datetime type.

In [ ]:
KS2['From_Date'] = pd.to_datetime(KS2['From_Date'], format='%m/%d/%Y', errors='coerce')

- Borrow date from Reported_Date if From_Date is NaN and Reported_Date is not missing.

In [ ]:
KS2.loc[KS2['From_Date'].isna() & KS2['Reported_Date'].notna(), 'From_Date'] = KS2['Reported_Date']

In [ ]:
KS2.From_Date.value_counts().head(30)

In [ ]:
KS2.info()

From_Date column is clean now.

<h3 style="color: blue;">Clean Offense Column</h3>

- check for typos:

In [ ]:
offense_counts = KS2['Offense'].value_counts().reset_index()
offense_counts.columns = ['Offense', 'Count']

# Sort the DataFrame alphabetically by the 'Offense' column
offense_counts = offense_counts.sort_values(by='Offense')

pd.set_option('display.max_rows', None)  # Show all rows in the output
display(offense_counts)

listed alphabetically, to see what values can be combined.

- Clean extra white space

In [ ]:
KS2['Offense'] = KS2['Offense'].str.strip().replace({'–': '-'}, regex=True)

In [ ]:
KS2['Offense'] = KS2['Offense'].str.strip().replace({
    'Stealing - Shoplift': 'Stealing - Shoplifting',
    'Vehicular - Fatality': 'Vehicular – Fatality',
    'auto theft': 'Auto Theft',
    'fraud': 'Fraud / Stealing Through Deceit (Scam/Confidence Game)',
}, regex=True)

In [ ]:
KS2['Offense'] = KS2['Offense'].str.replace(r'\s+', ' ', regex=True)  # Replace multiple spaces with a single space

In [ ]:
offense_counts = KS2['Offense'].value_counts().reset_index()
offense_counts.columns = ['Offense', 'Count']

# Sort the DataFrame alphabetically by the 'Offense' column
offense_counts = offense_counts.sort_values(by='Offense')

# Display all rows
pd.set_option('display.max_rows', None)  # Show all rows in the output
print(offense_counts.head(30))

- Check for Nan

In [ ]:
count_offenseNaN = KS2['Offense'].isna().sum()
print(count_offenseNaN)

- Check for missing values in Offense column

In [ ]:
KS2.info()

Offense column is clean now.

<h3 style="color: blue;">Clean Description Column</h3>

- Check for NaN

In [ ]:
count_DescripNaN = KS2['Description'].isna().sum()
print(count_DescripNaN)

In [ ]:
KS2['Description'] = KS2['Description'].str.strip()

In [ ]:
desc_counts = KS2['Description'].value_counts().reset_index()
desc_counts.columns = ['Description', 'Count']

# Sort the DataFrame alphabetically by the 'Offense' column
desc_counts = desc_counts.sort_values(by='Description')

pd.set_option('display.max_rows', None)  # Show all rows in the output
display(desc_counts)

In [ ]:
# Fill NaN values in the 'Description' column with 'No Description'
KS2['Description'] = KS2['Description'].fillna('No Description')

In [ ]:
KS2.info()

Description column is clean now.

<h3 style="color: blue;">Clean Beat Column</h3>

In [ ]:
KS2.Beat.value_counts()

In [ ]:
# Fill NaN values in the 'Description' column with 'No Description'
KS2['Beat'] = KS2['Beat'].fillna('Unknown')

In [ ]:
KS2.info()

In [ ]:
print(KS2['Beat'].isna().sum())

Beat column is clean now.

<h3 style="color: blue;">Clean Address Column</h3>

In [ ]:
KS2.Address.value_counts().head(40)

Address column is clean.

<h3 style="color: blue;">Clean Zip Code Column</h3>

- get rid of space in 'Zip Code' name

In [ ]:
KS2.rename(columns={'Zip Code': 'Zipcode'}, inplace=True)

- Remove leading white space

In [ ]:
# Convert Zipcode to string and strip whitespace
KS2['Zipcode'] = KS2['Zipcode'].astype(str).str.strip()
print(KS2['Zipcode'].dtype)

- Change nan values to 0

In [ ]:
KS2['Zipcode'] = KS2['Zipcode'].fillna('0')

In [ ]:
KS2['Zipcode'] = KS2['Zipcode'].replace('nan', '0')

In [ ]:
KS2.Zipcode.value_counts()

- Look for Zipcodes of the wrong length, or with alpha characters

In [ ]:
# Print rows where 'Zipcode' is equal to 'MO'
filtered_Zipcode_alpha_rows = KS2[KS2['Zipcode'] == 'MO']

display(filtered_Zipcode_alpha_rows)

In [ ]:
# Change the Zipcode at index 426430 to '64124'
KS2.loc[426430, 'Zipcode'] = '64124'

In [ ]:
# Change the Zipcode at index 426430 to '64124'
KS2.loc[436036, 'Zipcode'] = '64114'

In [ ]:
# Change the Zipcode at index 426430 to '64124'
KS2.loc[464929, 'Zipcode'] = '64114'

In [ ]:
# Change the Zipcode at index 426430 to '64124'
KS2.loc[464929, 'Zipcode'] = '64152'

In [ ]:
KS2.loc[504861,'Zipcode'] = '64152'

In [ ]:
display(KS2.loc[426430])

In [ ]:
#display(KS2.loc[436036])

In [ ]:
#display(KS2.loc[464929])

In [ ]:
#display(KS2.loc[464929])

- Look for Zipcodes with 'Clay'

In [ ]:
# Print rows where 'Zipcode' is equal to 'MO'
filtered_Zipcode_alpha_rows2 = KS2[KS2['Zipcode'] == 'CLAY']

display(filtered_Zipcode_alpha_rows2)

In [ ]:
KS2.loc[200999,'Zipcode'] = '64156'

- Look for Zipcodes with more than 5 digits.

In [ ]:
filtered_zipcodes1 = KS2[KS2['Zipcode'].astype(str).str.match(r'^\d{6,}$')].sort_values(by='Zipcode')
display(filtered_zipcodes1.head())

Find correct Zipcode for the address.
https://tools.usps.com/zip-code-lookup.htm?byaddress

In [ ]:
KS2.loc[131996, 'Zipcode']= '64068'

In [ ]:
KS2.loc[105478, 'Zipcode']= '64130'

In [ ]:
display(KS2.loc[131996])

- Look for Zipcodes with only 4 digits.

In [ ]:
#Look for Zipcodes with exactly 4 digits, to find typos
filtered_zipcodes = KS2[KS2['Zipcode'].astype(str).str.match(r'^\d{4}$')].sort_values(by='Zipcode')

In [ ]:
display(filtered_zipcodes)

Look up correct Zipcode for Address:
https://tools.usps.com/zip-code-lookup.htm?byaddress

In [ ]:
KS2['Zipcode'] = KS2['Zipcode'].replace('5301', '05301')

KS2['Zipcode'] = KS2['Zipcode'].replace('6106', '64106')
KS2['Zipcode'] = KS2['Zipcode'].replace('6110', '64111')
KS2['Zipcode'] = KS2['Zipcode'].replace('6114', '64114')
KS2['Zipcode'] = KS2['Zipcode'].replace('6131', '64131')
KS2['Zipcode'] = KS2['Zipcode'].replace('6134', '64134')
KS2['Zipcode'] = KS2['Zipcode'].replace('6137', '64137')
KS2['Zipcode'] = KS2['Zipcode'].replace('6151', '64151')
KS2['Zipcode'] = KS2['Zipcode'].replace('6154', '64154')

KS2['Zipcode'] = KS2['Zipcode'].replace('6410', '64132')
KS2['Zipcode'] = KS2['Zipcode'].replace('6411', '64111')
KS2['Zipcode'] = KS2['Zipcode'].replace('6412', '64112')
KS2['Zipcode'] = KS2['Zipcode'].replace('6413', '64134')

KS2['Zipcode'] = KS2['Zipcode'].replace('6414', '64114')
KS2['Zipcode'] = KS2['Zipcode'].replace('6415', '64152')

KS2['Zipcode'] = KS2['Zipcode'].replace('6418', '64106')
KS2['Zipcode'] = KS2['Zipcode'].replace('6419', '64116')

KS2['Zipcode'] = KS2['Zipcode'].replace('6427', '64127')

KS2['Zipcode'] = KS2['Zipcode'].replace('6431', '64131')
KS2['Zipcode'] = KS2['Zipcode'].replace('6432', '64131')
KS2['Zipcode'] = KS2['Zipcode'].replace('6434', '64134')
KS2['Zipcode'] = KS2['Zipcode'].replace('6438', '64138')

KS2['Zipcode'] = KS2['Zipcode'].replace('6451', '64151')

In [ ]:
if '05301' in KS2['Zipcode'].unique():
    print("Zipcode '05301' found.")
else:
    print("Zipcode '05301' not found.")

In [ ]:
print(KS2['Zipcode'].unique())

- replace NaN with 'Unknown'

In [ ]:
KS2['Zipcode'] = KS2['Zipcode'].astype(int)

In [ ]:
print(KS2['Zipcode'].isna().sum())

Zipcode column is clean.

<h3 style="color: blue;">Clean Rep_Dist Column</h3>

In [ ]:
KS2.Rep_Dist.value_counts().head(40)

In [ ]:
print(KS2.Rep_Dist.isna().sum())

In [ ]:
KS2['Rep_Dist'] = KS2['Rep_Dist'].fillna('Unknown')

In [ ]:
print(KS2.Rep_Dist.isna().sum())

Rep_Dist is now clean.

<h3 style="color: blue;">Clean DVFlag Column</h3>

In [ ]:
KS2.DVFlag.value_counts()

- replace TRUE with Y, and FALSE with N

In [ ]:
KS2['DVFlag'] = KS2['DVFlag'].replace({True: 'Y', False: 'N'})

KS2['DVFlag'] = KS2['DVFlag'].replace({
    'Y': 'Y',
    'TRUE': 'Y',
    'N': 'N',
    'FALSE': 'N',
    'U': 'Unknown'  # or whatever you want for unknowns
})

In [ ]:
KS2.info()

In [ ]:
KS2.DVFlag.value_counts()

In [ ]:
DV_length = len(KS2.DVFlag)

In [ ]:
dv_yes = KS2['DVFlag'].value_counts().get('Y', 0)

In [ ]:
# Calculate the percentage
percentage_dv = (dv_yes / DV_length) * 100

In [ ]:
print(f"The percentage of Domestic Violence instances is {percentage_dv:.2f}%.")

DVFlag is clean now.

<h3 style="color: blue;">Clean 'Fire Arm Used Flag' Column</h3>

In [ ]:
KS2.rename(columns={'Fire Arm Used Flag': 'FireArmUsed'}, inplace=True)

In [ ]:
KS2.FireArmUsed.value_counts()

In [ ]:
total_incidents = len(KS2['FireArmUsed'])

In [ ]:
firearm_incidents = KS2['FireArmUsed'].value_counts().get(True, 0)

In [ ]:
percentage_firearm = (firearm_incidents / total_incidents) * 100

In [ ]:
print(f"{percentage_firearm:.2f}% of the incidences involved a firearm.")

In [ ]:
KS2.info()

FireArmUsed column is clean now.

In [ ]:
KS2.Location.value_counts().head(25)

In [ ]:
KS2.Location.isna().sum()

In [ ]:
KS2['Location'] = KS2['Location'].fillna('Unknown')

In [ ]:
KS2.Location.isna().sum()

<h3 style="color: blue;">Clean Geo_Location1 Column</h3>

In [ ]:
KS2.Geo_Location1.isna().sum()

In [ ]:
KS2['Geo_Location1'] = KS2['Geo_Location1'].fillna('Unknown')

In [ ]:
KS2.Geo_Location1.isna().sum()

In [ ]:
KS2.info()

Geo_Location1 column is clean now.

<h3 style="color: blue;">All columns are clean now.</h3>

<h1 style="color: blue;">Data Visualization</h1>

<h3 style="color: blue;">Look at Domestic Violence, by Area (police beat)</h3>

In [ ]:
Area_dv_count = KS2.groupby(['Area', 'DVFlag']).size().unstack(fill_value=0)

In [ ]:
# Filter to only keep the 'Unknown' and 'Y' columns
filtered_area_dv_count = Area_dv_count[['Unknown', 'Y']]

In [ ]:
# Sort by 'Y' count in descending order
sorted_filtered_area_dv_count = filtered_area_dv_count.sort_values(by='Y', ascending=False)

In [ ]:
# Create a third column that sums the 'Y' count and 'Unknown' count
sorted_filtered_area_dv_count['Total'] = sorted_filtered_area_dv_count['Y'] + sorted_filtered_area_dv_count['Unknown']

In [ ]:
print(sorted_filtered_area_dv_count)

- The East Police Department (EPD) has the highest amount of Domestic violence incidences.
- The Metro Police Department (MPD) has the 2nd highest amount.
- The Central Police Department (CPD) has the 3rd highest.

<h3 style="color: blue;">Look at various types of incidents, by Zipcode</h3>

Look at Domestic Violence, Use of Firearm, Stealing or Robbery, Harassment or Intimidation, Rape or Sex or Molestation, Assault, Murder or Casualty, Kidnapping or Trafficking, Missing Person

- <h4 style="color: blue;">Domestic Violence.</h1>

In [ ]:
zip_dv_count = KS2.groupby(['Zipcode', 'DVFlag']).size().unstack(fill_value=0)

Only grab DVFlag of 500 or more.

In [ ]:
zip_dv_count = zip_dv_count[zip_dv_count.sum(axis=1) >= 500]

In [ ]:
#Check if Y exists
if 'Y' in zip_dv_count.columns:
    zip_dv_count = zip_dv_count[['Y']]
else:
    print("No 'Y' values found in DVFlag.")

In [ ]:
# Sort by count (ascending order)
zip_dv_count = zip_dv_count.sort_values(by='Y', ascending=True)

In [ ]:
if not zip_dv_count.empty:
    fig, ax = plt.subplots(figsize=(18, 10))  # Use subplots to define figure size
    ax.clear()
    
    zip_dv_count.plot(kind='bar', stacked=True, ax=ax)
    
    ax.set_title('Domestic Violence by Zip Code (500+ incidences)', fontsize=24) 
    ax.set_xlabel('Zip Code', fontsize=16) 
    ax.set_ylabel('Count of Y', fontsize=16) 

    ax.legend(fontsize=14)
    
    plt.xticks(rotation=45, fontsize=14)
    plt.yticks(fontsize=14)
    
    plt.tight_layout()  # Adjust layout to prevent clipping
    
    plt.show()
else:
    print("No zip codes with 500 or more Domestic Violence instances.")

- Highest Domestic Violence incidences... "Unknown" Zipcode.
- 2nd highest ... Zipcode 64130 is in the Metro Police Department beat, in the central south of Kansas City, MO.
- 3rd highest ... Zipcode 64127 is in the Central Police Department beat, in the center west part of Kansas City, MO.
- 4th highest ... Zipcde 64132 is in the Metro Police Department beat.
- 5th highest ... Zipcode 64134 is also in the South Police Department beat.
- 6th highest ... Zipcode 64131 is in the Metro Police Department beat.

Aside from Unknown Zipcodes, most of the incidence of Domestic Violence is in the Metro Police Department beat.

- <h4 style="color: blue;">Firearm Used.</h1>

In [ ]:
KS2.FireArmUsed.value_counts()

In [ ]:
zip_firearm_count = KS2.groupby(['Zipcode', 'FireArmUsed']).size().unstack(fill_value=0)

In [ ]:
print(zip_firearm_count.columns)

In [ ]:
# Sort by count (ascending order)
zip_firearm_count = zip_firearm_count.sort_values(by=True, ascending=False)
print(zip_firearm_count.head(10))

In [ ]:
# Filter to keep only the rows where FireArmUsed is True
true_firearm_count = zip_firearm_count[True]
print(true_firearm_count.head(30))

In [ ]:
zip_firearm_count = KS2.groupby(['Zipcode', 'FireArmUsed']).size().unstack(fill_value=0)
true_firearm_count = zip_firearm_count[True]

In [ ]:
# Filter counts greater than 250
true_firearm_count = true_firearm_count[true_firearm_count > 250]

In [ ]:
# Sort the true firearm count in ascending order
true_firearm_count = true_firearm_count.sort_values(ascending=True)

Only show incidences more than 250, so that graph is readable.

In [ ]:
plt.figure(figsize=(20, 18))

true_firearm_count.plot(kind='bar', color='blue')
plt.title('Incidence of Fire Arm Used, by Zipcode', fontsize=24) 
plt.xlabel("Zipcode", fontsize=20) 
plt.ylabel("Count of Firearm Used", fontsize=20) 
plt.xticks(rotation=45, fontsize=16)  
plt.yticks(fontsize=16)  
plt.tight_layout()

plt.grid(axis='y', linestyle='--', alpha=0.9, linewidth=1.5)

plt.show()

- The most incidences of Fire Arm Used is from "Unknown" Zipcodes.
- The 2nd most incidences is from Zipcode 64130, in the Metro PD beat.
- The 3rd most incidences is from Zipcode 64127, in the Central PD beat.
- The 4th most incidences is from Zipcode 64128, in the Central PD beat.
- The 5th most incidences is from Zipcode 64132, in the Metro PD beat.
- the 6th most incidences is from Zipcode 64134, in the South PD beat.

Aside from the incidences of Firearm Used, in the "Unknown" Zipcodes, two of the top 5 Zipcodes are in the Matro PD beat, and two are in the Central PD beat.

These Zipcodes were also in the top 5 for incidences of Domestic Violence:
- 64130
- 64127
- 64132
- 64134

Two of these 3 are in the Metro Police Department beat.

- <h4 style="color: blue;">Stealing or Robbery.</h1>

In [ ]:
filtered_StealRob_count = KS2[KS2['Offense'].str.contains('Steal|Robbery', case=False)]

In [ ]:
# Group by 'Zipcode' and count occurrences of filtered offenses
zip_StealRob_count = filtered_StealRob_count.groupby('Zipcode').size().sort_values(ascending=True)

In [ ]:
zip_StealRob_count = zip_StealRob_count[zip_StealRob_count > 50]

In [ ]:
plt.figure(figsize=(20, 18))

zip_StealRob_count.plot(kind='bar', color='red')
plt.title('Incidence of Stealing or Robbery Greater than 50 Incidences, by Zipcode', fontsize=24) 
plt.xlabel("Zipcode", fontsize=20) 
plt.ylabel("Count of Stealing or Robbery", fontsize=20) 
plt.xticks(rotation=45, fontsize=16)  
plt.yticks(fontsize=16)  
plt.tight_layout()

plt.grid(axis='y', linestyle='--', alpha=0.7, linewidth=1.5) 

plt.show()

These are the Zipcodes with the most incidences of Stealing and Robbery:
- 64111
- 64133
- "Unknown" Zipcodes
- 64108
- 64114

Zipcode 64111 has double the amount of Stealing and Robbery incidences than almost all of the Zipcodes and 3 times the amount than most of the Zipcodes.

- <h4 style="color: blue;">Harassment or Intimidation.</h1>

In [ ]:
filtered_HarassIntim_count = KS2[KS2['Offense'].str.contains('Harassment|Intimidation', case=False)]

In [ ]:
# Group by 'Zipcode' and count occurrences of filtered offenses
zip_HarassIntim_count = filtered_HarassIntim_count.groupby('Zipcode').size()

In [ ]:
zip_HarassIntim_count = zip_HarassIntim_count.sort_values(ascending=True)

In [ ]:
plt.figure(figsize=(20, 18))

zip_HarassIntim_count.plot(kind='bar', color='black')
plt.title('Incidence of Harassment or Intimidation, by Zipcode', fontsize=24) 
plt.xlabel("Zipcode", fontsize=20) 
plt.ylabel("Count of Harassment or Intimidation", fontsize=20) 
plt.xticks(rotation=45, fontsize=16)  
plt.yticks(fontsize=16)  
plt.tight_layout()

plt.grid(axis='y', linestyle='--', alpha=0.9, linewidth=1.5)

plt.show()

- "Unknown" Zipcode has the most incidences of Harassment and Intimidation.
- The 2nd most incidences of Stealing and Robbery are in Zipcode 64130.
- the 3rd most incidences of Stealing and Robbery are in Zipcode 64132
- the 4th most incidences of Stealing and Robbery are in Zipcode 64134
- the 5th most incidences of Stealing and Robbery are in Zipcode 64131
- the 6th most incidences of Stealing and Robbery are in Zipcode 64127

The Zipcodes with almost zero incidences of Harassment and Intimidation are:
- 64115
- 64121
- 89104
- 64140
- 64183
- 66106
- 66204
- 64103
- 66209
- 80120
- 64086
- 64064
- 64055
- 64018

- <h4 style="color: blue;">Rape or Sex or Molestation.</h1>

In [ ]:
filtered_R_S_M_count = KS2[KS2['Offense'].str.contains('Rape|Sex|Molest', case=False)]

In [ ]:
# Group by 'Zipcode' and count occurrences of filtered offenses
zip_R_S_M_count = filtered_R_S_M_count.groupby('Zipcode').size()

In [ ]:
# Filter to only include those Zipcodes which also exist in filtered_Assault_count and have counts greater than 50
filtered_Assault_count = KS2[KS2['Offense'].str.contains('Assault', case=False)]
filtered_Assault_count = filtered_Assault_count.groupby('Zipcode').size()

In [ ]:
# Only keep Zipcodes with Assault counts greater than 50
zip_R_S_M_count = zip_R_S_M_count[zip_R_S_M_count.index.isin(filtered_Assault_count[filtered_Assault_count > 50].index)].sort_values(ascending=True)

In [ ]:
plt.figure(figsize=(24, 18))

zip_R_S_M_count.plot(kind='bar', color='lightblue')
plt.title('Incidence of Rape or Sex or Molestation, Greater than 50, by Zipcode', fontsize=32)
plt.xlabel("Zipcode", fontsize=28)  # Increased font size
plt.ylabel("Count of Rape / Sex / Molestation", fontsize=28)
plt.xticks(rotation=45, fontsize=20)  
plt.yticks(fontsize=20)  
plt.tight_layout()

plt.grid(axis='y', linestyle='--', alpha=0.9, linewidth=1.5)

plt.show()

Most incidences of Rape / Sex / Molestation by Zipcode

- 64127
- 64130
- 64111
- 64108
- 64134
- 64106
- 64132

Zipcodes 64127 and 64130 have much higher incidences than all other Zipcodes. 64127 has double the amount of incidences of most of the Zipcodes, and triple the amount of many of the Zipcodes.

- <h4 style="color: blue;">Assault.</h1>

In [ ]:
filtered_Assault_count = KS2[KS2['Offense'].str.contains('Assault', case=False)] 
filtered_Assault_count = filtered_Assault_count.groupby('Zipcode').size()

In [ ]:
# Filter only assaults greater than 50
filtered_Assault_count = filtered_Assault_count[filtered_Assault_count > 50].sort_values(ascending=True)

In [ ]:
plt.figure(figsize=(24, 18))

filtered_Assault_count.plot(kind='bar', color='purple')
plt.title('Incidence of Assault, Greater than 50, by Zipcode', fontsize=32)
plt.xlabel("Zipcode", fontsize=28) 
plt.ylabel("Count of Assault", fontsize=28)
plt.xticks(rotation=45, fontsize=20)  
plt.yticks(fontsize=20)  
plt.tight_layout()

plt.grid(axis='y', linestyle='--', alpha=0.9, linewidth=1.5)

plt.show()

Aside from "Unknown" Zipcodes, the Zipcodes with the most incidences of Assault are:
- 64130
- 64127
- 64132
- 64128
- 64134

Again, Zipcode 64130 has double the amount of Assault incidences than most Zipcodes, and triple the amount of Assault incidences than many Zipcodes.

- <h4 style="color: blue;">Murder or Casualty.</h1>

In [ ]:
filtered_Murd_Casualty_count = KS2[KS2['Offense'].str.contains('Murder|Casualty', case=False)]

In [ ]:
filtered_Murd_Casualty_count = filtered_Murd_Casualty_count.groupby('Zipcode').size().sort_values(ascending=True)

In [ ]:
plt.figure(figsize=(24, 18))

filtered_Murd_Casualty_count.plot(kind='bar', color='yellow')
plt.title('Incidence of Murder or Casualty, by Zipcode', fontsize=32)
plt.xlabel("Zipcode", fontsize=28) 
plt.ylabel("Count of Murder or Casualty", fontsize=28)
plt.xticks(rotation=45, fontsize=20)  
plt.yticks(fontsize=20)  
plt.tight_layout()

plt.grid(axis='y', linestyle='--', alpha=0.9, linewidth=1.5)

plt.show()

Zipcodes with the highest incidences of Murder or Casualty:
- 64130
- 64127
- 64128
- 64132
- 64111

Again, Zipcodes 64130 and 64127 are highest in crime.

- <h4 style="color: blue;">Kidnapping or Trafficking or Missing Person.</h1>

In [ ]:
filtered_Kid_Traf_Miss_count = KS2[KS2['Offense'].str.contains('Kidnapping|Trafficking|Missing', case=False)]

In [ ]:
filtered_Kid_Traf_Miss_count = filtered_Kid_Traf_Miss_count.groupby('Zipcode').size().sort_values(ascending=True)

In [ ]:
plt.figure(figsize=(24, 18))

filtered_Kid_Traf_Miss_count.plot(kind='bar', color='hotpink')
plt.title('Incidence of Kidnapping or Trafficking or Missing Person, by Zipcode', fontsize=32)
plt.xlabel("Zipcode", fontsize=28) 
plt.ylabel("Count of Kidnapping / Trafficking / Missing Person", fontsize=28)
plt.xticks(rotation=45, fontsize=20)  
plt.yticks(fontsize=20)  
plt.tight_layout()

plt.grid(axis='y', linestyle='--', alpha=0.9, linewidth=1.5)

plt.show()

The highest amount of incidences of Kidnapping, Trafficking, or Missing Persons is from "Unknown" Zipcodes.

Aside from "Unknown" Zipcodes, these are the Zipcodes with the highest incidences:
- 64130
- 64127
- 64132
- 64134
- 64124

Again, Zipcodes 64130 ad 64127 top the charts.

<h1 style="color: blue;">Predictive Model</h1>

In [ ]:
KS2.info()

- <h4 style="color: blue;">Convert Reported_Date, from datetime type to numerical.</h1>

In [ ]:
#create 3 new columns
KS2['Reported_Year'] = KS2['Reported_Date'].dt.year
KS2['Reported_Month'] = KS2['Reported_Date'].dt.month
KS2['Reported_Day'] = KS2['Reported_Date'].dt.day

Monday=0
<br>
Tuesday=1
<br>
Wednesday=2
<br>
Thursday=3
<br>
Friday=5
<br>
Sunday=6
<br>
Saturday=7

- <h4 style="color: blue;">Define target column.</h1>

In [ ]:
# Define the target variable
target_column = 'Zipcode'

- <h4 style="color: blue;">Define features.</h1>

In [ ]:
features_to_drop = ['Reported_Time', 'From_Date', 'Rep_Dist', 'Description', target_column]

- <h4 style="color: blue;">Get dummies.</h1>

In [ ]:
KS2 = pd.get_dummies(KS2, drop_first=True)

- <h4 style="color: blue;">Split the data in to test, train.</h1>

In [ ]:
# Split into training and temp sets
train_df, temp_df = train_test_split(KS2, test_size=0.3, random_state=42)  # 70% training, 30% temporary

In [ ]:
- <h4 style="color: blue;">Split the temp set in to validation and test.</h1>

In [ ]:
# Split the temp set into validation and test sets
val_df, test_df = train_test_split(temp_df, test_size=0.5, random_state=42)  # 50% validation, 50% test from temporary set

- <h4 style="color: blue;">Encode the target column.</h1>

In [ ]:
# Label Encoding for the target variable
label_encoder = LabelEncoder()

In [ ]:
label_encoder.fit(KS2[target_column])

- <h4 style="color: blue;">Split the test, train, validation datasets in to target and features. Encode the target column.</h1>

In [ ]:
# Train set features and target
X_train = train_df.drop(features_to_drop, axis=1)  # features
y_train = label_encoder.transform(train_df[target_column]) 

# Validation set features and target
X_val = val_df.drop(features_to_drop, axis=1) #features
y_val = label_encoder.transform(val_df[target_column]) #encode target

# Test set features and target
X_test = test_df.drop(features_to_drop, axis=1) #features
y_test = label_encoder.transform(test_df[target_column]) #encode target

- <h4 style="color: blue;">Label encoding.</h1>

- <h4 style="color: blue;">Check shape.</h1>

In [ ]:
print("Training features shape:", X_train.shape) # 70 % of the orig dataset
print("Validation features shape:", X_val.shape) # 15 %
print("Test features shape:", X_test.shape)      # 15 %

- <h4 style="color: blue;">Create and fit the model.</h1>

In [ ]:
def train_and_evaluate_models(X_train, y_train, X_val, y_val, X_test, y_test):
    models = {
        "Logistic Regression": {
            'model': LogisticRegression(solver='liblinear'),
            'params': {'C': [0.1, 1, 10]}
        },
        "Random Forest": {
            'model': RandomForestClassifier(),
            'params': {'n_estimators': [100, 200, 250], 'max_depth': [None, 10, 20]}
        },
        "Decision Tree": {
            'model': DecisionTreeClassifier(),
            'params': {'max_depth': [5, 10, 20]}
        },
        "Gradient Boosting": {
            'model': GradientBoostingClassifier(),
            'params': {'n_estimators': [100, 200], 'learning_rate': [0.01, 0.1]}
        }
    }
    
    results = {}
    for name, model_info in models.items():
        print(f"Training {name}...")
        try:
            grid_search = GridSearchCV(model_info['model'], model_info['params'], 
                                       cv=5, scoring='roc_auc', verbose=3)
            grid_search.fit(X_train, y_train)
            best_model = grid_search.best_estimator_
            # Evaluate on validation set
            val_predictions = best_model.predict(X_val)
            val_accuracy = accuracy_score(y_val, val_predictions)
            if hasattr(best_model, "decision_function"):
                val_decision_function = best_model.decision_function(X_val)
                val_auc = roc_auc_score(y_val, val_decision_function)
            else:
                val_probas = best_model.predict_proba(X_val)[:, 1]  # Get the probability of the positive class
                val_auc = roc_auc_score(y_val, val_probas)
            # Evaluate on test set
            test_predictions = best_model.predict(X_test)
            test_accuracy = accuracy_score(y_test, test_predictions)
            if hasattr(best_model, "decision_function"):
                test_decision_function = best_model.decision_function(X_test)
                test_auc = roc_auc_score(y_test, test_decision_function)
            else:
                test_probas = best_model.predict_proba(X_test)[:, 1]  # Get the probability of the positive class
                test_auc = roc_auc_score(y_test, test_probas)
            results[name] = {
                "Validation Accuracy": val_accuracy,
                "Validation AUC": val_auc,
                "Test Accuracy": test_accuracy,
                "Test AUC": test_auc
            }
            print(f"{name} results: {results[name]}")
            print()  # Add a newline for better separation between model outputs
        except Exception as e:
            print(f"An error occurred while training {name}: {e}")
    return results

- <h4 style="color: blue;">Call the function to create / fit / train / score the model.</h1>

In [ ]:
results = train_and_evaluate_models(X_train, y_train, X_val, y_val, X_test, y_test)

In [ ]:
print("Results keys:", results.keys())

<h1 style="color: blue;">Conclusion</h1>

## Top Zipcodes for Highest Crime Incidence

The following Zipcodes are consistently at the top for the highest incidence of crime across nearly every category:

- 64130
- 64127

Both of these Zipcodes are located in the East Police Department Division.
                                                  
---
## Crime Categories with Highest Incidence Rates
- The Zipcodes 64130 and 64127 have **double the incidence rate** compared to most other Zipcodes in these categories:
  - **Domestic Violence**
  - **Firearm Used**
  - **Rape or Sexual Assault**
  - **Assault**
  - **Murder or Casualty**
  - **Kidnapping, Trafficking, or Missing Person**
                                                  
---
## Additional Insights
- **64130** and **64132** demonstrate the highest incidences of crime in **harassment or intimidation**, with **double the incidence rate** than most other Zipcodes.
- Even though **64127** is not at the very top for this category, it still shows double the incidence rate compared to nearly all other Zipcodes.

---
## Notable Incidence
- 64111 records the highest incidences for:
  - **Stealing or Robbery**